// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

$carousel-dot-margin: 0 3px;
$carousel-controls-size: 25px;
$expansion-panel-header-min-height: 40px;
$expansion-panel-active-header-min-height: 40px;
$expansion-panel-header-padding: 10px 15px 10px 12px !default;
$Nunito-regular: 'Nunito Regular';
$Arial-regular: 'Arial';
